body {
    font-family: 'Raleway', sans-serif;
    background-color: #fff; /* Cor Principal */
    color: #535353; /* Cor do Texto */
    margin: 0;
    padding: 0;
    text-align: center;
}
 
/* Estilo do título principal */
h1, h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.5em;
    margin: 20px 0;
    color: #000000; /* Cor do Título */
    text-align: center;
}

h3 {
    font-family: 'Noto Sans', sans-serif;
    margin: 20px 0;
    color: #000000; /* Cor do Título */
}

p {
    font-size: 1.5rem;
    color: #000000;
    text-align: center;
}

/* Linha horizontal */
hr {
    width: 80%;
    margin: 20px auto;
    border: 1px solid 000000; /* Cor de Destaque */
}
 
/* Estilos da tabela */
table {
    width: 80%;
    margin: 20px auto;
    font-family: 'Noto Sans', sans-serif;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
    text-align: center;
}

thead {
    background-color: #535353;
}

thead th {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}

tbody td {
    padding: 10px;
    text-align: center;
    font-size: 1em;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #000000;
}

tbody tr:hover {
    background-color: #000000;
}
 

table caption {
    caption-side: top;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #ffffff; /* Cor do Subtítulo */
}
 
th, td {
    padding: 5px;
    border: 1px solid #000000; /* Cor Secundária */
    text-align: center;
    background-color: #ffffff; /* Cor Alternativa */
}
 
th {
    background-color: gray; /* Cor de Destaque no cabeçalho */
    color: #000000; /* Cor Secundária no texto */
    font-size: 1.2em;
}
 
tbody tr:nth-child(even) {
    background-color: #f4f4f4; /* Tom claro para as linhas pares */
}
 
tbody tr:hover {
    background-color: gray; /* Destaque ao passar o mouse */
}
 
/* Estilos da lista de jogos */
ul {
    list-style-type: none; /* Remover marcadores */
    padding: 0;
}
 
ul li {
    background-color: #ffffff; /* Cor Alternativa */
    margin: 10px auto;
    padding: 15px;
    width: 60%;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
 
ul li:hover {
    background-color: gray; /* Destaque ao passar o mouse */
}
 
/* Estilos do rodapé */
footer {
    background-color: black; /* Cor Secundária no rodapé */
    color: #fff; /* Cor Alternativa no texto */
    padding: 50px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}
 
footer p {
    color: white;
}

.footer-container {
    width: 100%;
    padding: 20px;
    
    p {
        text-align: center;
    }
}

.logo-img {
    width: 50px !important;
    border: 5px solid white!important;
}

img {
    border-radius: 10%;
    width: 100%;
    height: auto;
    max-width: 400px;
    display: block;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border: 5px solid #c5b9b9d3;
    padding: 5px;
}

img:hover {
    transform: scale(1.09); /* Aumenta a imagem em 9% ao passar o mouse */
    filter: brightness(1.1) saturate(1.2);
}

.instagram-media {
    width: 80%;
    max-width: 800px;
    min-height: 400px; /* Ajuste a altura mínima conforme necessário */
    margin: auto;
    position: center;
    }

    .instagram-container {
        display: flex;
        justify-content: center;
        margin: 20px;
    }














header {
    margin: auto;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
    position: sticky;
    top: 0;


    background-color: white;

    .logo {

        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        img {
            width: 50px;
        }
    }

    nav {
        margin-left: auto;
    }
}

.menu-hamburguer div {
    display: none;
    width: 32px;
    height: 2px;
    background-color: black;
    margin: 8px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.fechar .linha1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.fechar .linha2 {
    opacity: 0;
}

.fechar .linha3 {
    transform: rotate(45deg) translate(-5px, -7px);
}


.menu {
    display: none;
}


.menu.aberto {
    display: flex;
}

@media (max-width: 800px) {
    .menu {
        position: absolute;
        top: 10vh;
        right: 0;
        
        width: 100vw;
        height: 90vh;
        
        background-color: black;
        text-align: center;
        
        display: none;
        justify-content: center;
        gap: 20%;
        ul {
            padding: 0;
            list-style: none;
        }
        
        a {
            font-size: 1.25rem;
            font-weight: bold;
            color: white;
            text-decoration: none;
        }
        
        .coluna-esquerda,
        .coluna-direita {
            li {
                padding-bottom: 10px;
            }
        }
    }
    
    .menu-hamburguer div {
        display: flex;
    }
}



@media (min-width: 801px) and (max-width:1200px) {
    h1 {font-size: 2.5rem;}
    h2 {font-size: 2rem;}
    h3 {font-size: 1.75rem;}
    
    p {font-size: 1.125rem;}
    
    nav {
        margin: auto;
        width: 100% ;
    }
    
    .menu {
        margin: auto;
        display: flex;
        justify-content: space-between;
        max-width: 800px;
        padding-left: 10px ;
        padding-right: 10px;
    }   
    
    .coluna-direita {
        margin-left: auto; 
    }
    
    .coluna-esquerda {
        margin-right: auto;
    }
    
    .links-menu {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 50px;
        
        a {
            font-weight: 700;
            text-decoration: none;
            color: black;
        }
    }
}

@media (min-width:1201px) {
    h1 {font-size: 3rem;}
    h2 {font-size: 2.25rem;}
    h3 {font-size: 2rem;}
    
    p {font-size: 1.25rem;}
    
    nav {
        margin: auto;
        width: 100% ;
    }
    
    .menu {
        margin: auto;
        display: flex;
        justify-content: space-between;
        max-width: 1000px;
        padding-left: 10px ;
        padding-right: 10px;
    }   
    
    .coluna-direita {
        margin-left: auto; 
    }
    
    .coluna-esquerda {
        margin-right: auto;
    }
    
    .links-menu {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 50px;
        
        a {
            font-weight: 700;
            text-decoration: none;
            color: black;
        }
    }
}    